.generateFormWrapper {
	background: #1b1b1f;
	padding: 24px;
	align-self: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	position: relative;

	margin-top: 50px;
	margin-bottom: 50px;

	height:  500px;
}

.parameterName
{
	font-size: 14px;
	color: white ;
	font-weight: bold;
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 28px;
	opacity: 0.6;
}

.wrapperParameter
{
	width: 350px;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.lampLogo
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #1b1b1f;
	padding: 5px;
}

.lampImage {
	padding: 3px;
	background: linear-gradient(100deg, #ff008e 0%, #23BF57 100%);
	border-radius: 50%;
	line-height: 0;
}

.topInformation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.generateTextForm {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	margin-top: 48px;

	background: #202024;

}

label {
	padding: 18px 24px;
	font-size: 20px;
	background: #29292e;
	font-weight: bold;
	text-align: left;
}

textarea {
	background: transparent;
	border: 0;
	padding: 24px;
	resize: none;
	height: 80px;
	color: #e1e1e6;
	font-size: 16px;
	line-height: 24px;
}

button {
	align-self: flex-end;
	border: 0;
	background: #ff008e;
	margin: 24px;
	cursor: pointer;
	padding: 0 32px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;

	display: flex;
	align-items: center;
	justify-content: center;

}

.button:hover {
  filter: brightness(0.8);
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}